.form-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
}


.row.two-fields {
  gap: 0.5rem;
}


.p-progressspinner-circle {
  width: 40px;
}


.descricao-valor {
  display: flex;
  gap: 0.5rem;
}

.descricao-col {
  flex: 1;
}

.valor-col {
  width: 14rem;
}


.searchperson {
  display: flex;
  margin-bottom: 1rem;
  flex-direction: column;
  width: 100%;
  max-width: 40rem;
}




:host ::ng-deep .p-dialog .p-dialog-header {
  background: linear-gradient(to right, #262626, #393b3c);
  color: white;
  padding: 0.2rem;
  justify-content: center;
  position: relative;
  border-radius: 10px;
}

:host ::ng-deep .p-dialog .p-dialog-header .p-dialog-close-button {
  color: whitesmoke;
}


:host ::ng-deep .p-dialog .p-dialog-title {
  flex: 1;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-left: 3rem;
}


.searchperson {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;

  :host ::ng-deep .p-autocomplete {
    width: 100%;
  }

  :host ::ng-deep .p-autocomplete-input {
    width: 100%;
    height: 3rem;
    font-size: 1.05rem;
    padding-left: 1rem;
  }


  :host ::ng-deep .p-autocomplete-item {
    display: flex;
    align-items: center;
    gap: 0.1rem;
  }

  :host ::ng-deep .p-autocomplete-item i {
    font-size: 0.5rem;
  }
}


//dialog
::ng-deep .p-confirmdialog-message {
  margin-top: 15px;
}

::ng-deep .p-confirmdialog-icon {
  margin-top: 15px;
  --p-confirmdialog-icon-color: orangered;
}


:host ::ng-deep .custom-datepicker .p-datepicker-input {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 100px;
}


@media (max-width: 500px) {
  .descricao-valor {
    flex-direction: column;
  }

  .valor-col {
    width: 40%;
  }
}


