<div class="container">
  <p-dialog [(visible)]="visibleDialog" [modal]="true" header="Novo Lançamento"
    [style]="{ width: '50rem', height: '50rem' }">

    <p-divider type="dotted" />

    <div class="form-grid">

      <!-- Vencimento / Recebimento -->
      <div class="row two-fields">
        <div class="field-col">
          <p-inputgroup>
            <p-inputgroup-addon>
              <i class="pi pi-calendar"></i>
            </p-inputgroup-addon>
            <p-iftaLabel>
              <input pInputText id="vencimento" />
              <label for="vencimento">Vencimento</label>
            </p-iftaLabel>
          </p-inputgroup>
        </div>

        <div class="field-col">
          <p-inputgroup>
            <p-inputgroup-addon>
              <i class="pi pi-calendar"></i>
            </p-inputgroup-addon>
            <p-iftaLabel>
              <input pInputText id="recebimento" />
              <label for="recebimento">Recebimento</label>
            </p-iftaLabel>
          </p-inputgroup>
        </div>
      </div>

      <!-- Descrição / Valor -->
      <div class="row descricao-valor">
        <div class="descricao-col">
          <p-inputgroup>
            <p-inputgroup-addon>
              <i class="pi pi-map-marker"></i>
            </p-inputgroup-addon>
            <p-iftalabel>
              <input pInputText id="descricao" />
              <label for="descricao">Descrição</label>
            </p-iftalabel>
          </p-inputgroup>
        </div>

        <div class="valor-col">
          <p-inputgroup>
            <p-inputgroup-addon>
              <i class="pi pi-compass"></i>
            </p-inputgroup-addon>
            <p-iftalabel>
              <input pInputText id="valor" />
              <label for="valor">Valor R$</label>
            </p-iftalabel>
          </p-inputgroup>
        </div>
      </div>



    </div>



    <p-divider type="dotted" />


    <p-dropdown optionLabel="label" placeholder="Categoria">
    </p-dropdown>

    <p-divider type="dotted" />

    <div class="searchperson">
      <p-autocomplete [(ngModel)]="pessoaSelecionada" [suggestions]="pessoasFiltradas"
        (completeMethod)="filtrarPessoas($event)" field="nome" placeholder="Digite o nome da pessoa"
        dropdownIcon="pi pi-users" [minLength]="1">
        <ng-template let-pessoa pTemplate="item">
          <div>
            <i class="pi pi-user"></i>
            {{ pessoa.nome }}
          </div>
        </ng-template>
      </p-autocomplete>
    </div>

    <div>
      <p-floatlabel variant="in">
        <textarea pTextarea id="observacao" rows="6" cols="30" style="resize: none; width: 100%; height: auto;"
          class="h-full"></textarea>
        <label for="observacao">Observação</label>
      </p-floatlabel>
    </div>







    <ng-template #footer>

      <div class="dialog-footer">
        <p-button label="OK" icon="pi pi-pencil" [raised]="true" severity="warn"/>
      </div>
    </ng-template>
  </p-dialog>

</div>
