<div class="container">

  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>
  <p-dialog [(visible)]="visibleDialog" [modal]="true" header="Novo Lançamento"
    [style]="{ width: '50rem', height: '50rem' }" (onHide)="fecharDialog()">

    <p-divider type="dotted" />

    <form autocomplete="off">
      <div class="form-grid">
        <!-- Vencimento / Recebimento -->
        <div class="row two-fields">
          <div class="field-col">
            <p-inputgroup>
              <p-inputgroup-addon>
                <i class="pi pi-calendar"></i>
              </p-inputgroup-addon>
              <p-iftaLabel variant="on">
                <p-datepicker [(ngModel)]="dataVencimento" inputId="dataVencimento" [showButtonBar]="true"
                  dateFormat="dd/mm/yy" class="custom-datepicker" required name="datavencimento" ngModel
                  #datavencimento="ngModel" />
                <label for="dataVencimento">Vencimento</label>
              </p-iftaLabel>
            </p-inputgroup>
            <app-message-valid-forms [control]="datavencimento" error="required"
              text="Data vencimento é obrigatório"></app-message-valid-forms>
          </div>

          <div class="field-col">
            <p-inputgroup>
              <p-inputgroup-addon>
                <i class="pi pi-calendar"></i>
              </p-inputgroup-addon>
              <p-iftaLabel variant="on">
                <p-datepicker [(ngModel)]="dataRecebimento" inputId="dataRecebimento" [showButtonBar]="true"
                  dateFormat="dd/mm/yy" class="custom-datepicker" required name="datarecebimento" ngModel
                  #datarecebimento="ngModel" />
                <label for="dataRecebimento">Recebimento</label>
              </p-iftaLabel>
            </p-inputgroup>
            <app-message-valid-forms [control]="datarecebimento" error="required"
              text="Data recebimento é obrigatório"></app-message-valid-forms>
          </div>
        </div>

        <!-- Descrição / Valor -->
        <div class="row descricao-valor">
          <div class="descricao-col">
            <p-inputgroup>
              <p-inputgroup-addon>
                <i class="pi pi-clipboard"></i>
              </p-inputgroup-addon>
              <p-iftalabel>
                <input pInputText id="descricao" name="descricao" ngModel #descricao="ngModel" required
                  minlength="10" />
                <label for="descricao">Descrição</label>
              </p-iftalabel>
            </p-inputgroup>

            <app-message-valid-forms [control]="descricao" error="required"
              text="Informe a descrição obrigatória"></app-message-valid-forms>
            <app-message-valid-forms [control]="descricao" error="minlength"
              text="A descrição precisa ter no mínimo {{ descricao.errors?.['minlength']?.requiredLength }} caracteres."></app-message-valid-forms>

          </div>

          <div class="valor-col">
            <p-inputgroup>
              <p-inputgroup-addon>
                <i class="pi pi-dollar"></i>
              </p-inputgroup-addon>
              <p-iftalabel>
                <input currencyMask pInputText id="valor" placeholder="R$ 0,00" autocomplete="false" name="valor"
                  required [(ngModel)]="valor" #valorModel="ngModel" />
                <label for="valor">Valor</label>
              </p-iftalabel>
            </p-inputgroup>
            <app-message-valid-forms [control]="valorModel" error="required"
              text="Valor é obrigatório"></app-message-valid-forms>
          </div>
        </div>

      </div>



      <p-divider type="dotted" />


      <p-select optionLabel="label" placeholder="Categoria" [options]="categorias" name="categoria" required="">
      </p-select>

      <p-divider type="dotted" />

      <div class="searchperson">
        <p-autocomplete [(ngModel)]="pessoaSelecionada" [suggestions]="pessoasFiltradas"
          (completeMethod)="filtrarPessoas($event)" field="nome" placeholder="Digite o nome da pessoa ou CPF"
          dropdownIcon="pi pi-users" [minLength]="1" name="pessoa" required ngModel #buscarpessoa="ngModel">
          <ng-template let-pessoa pTemplate="item">
            <div class="flex items-center gap-2">
              <i class="pi pi-user"></i>
              <span> {{ pessoa.nome }} - </span>

              <p-tag *ngIf="pessoa.cpf; else cpfNaoInformado" [value]="'CPF: ' + pessoa.cpf" severity="success">
              </p-tag>

              <ng-template #cpfNaoInformado>
                <p-tag value="CPF: Não Informado" severity="danger">
                </p-tag>
              </ng-template>
            </div>
          </ng-template>

        </p-autocomplete>
        <app-message-valid-forms [control]="buscarpessoa" error="required"
          text="Para realizar um lançamento é necessário vincular uma pessoa."></app-message-valid-forms>
      </div>

      <div>
        <p-floatlabel variant="in">
          <textarea pTextarea id="observacao" rows="6" cols="30" style="resize: none; width: 100%; height: auto;"
            class="h-full" name="observacao"></textarea>
          <label for="observacao">Observação</label>
        </p-floatlabel>
      </div>
    </form>





    <ng-template #footer>

      <div class="dialog-footer">
        <p-button label="Salvar" icon="pi pi-save" (onClick)="confirmarLancamento()" severity="warn" [raised]="true">
        </p-button>
      </div>
    </ng-template>

  </p-dialog>



</div>
