<div class="container">
  <p-card class="cardlanc" header="Lançamentos |">
    <div style="display: block;">
      <p-floatlabel variant="on">
        <input pInputText id="on_label" [(ngModel)]="descricao" autocomplete="off" fluid />
        <label for="on_label">Descrição</label>
      </p-floatlabel>

      <div style="display: flex; align-items: center; gap: 0.5rem; margin-top: 1rem;">
        <p-floatlabel variant="on" style="flex: 0.2;">
          <p-datepicker [(ngModel)]="dataInicio" inputId="data_inicio" showIcon iconDisplay="input"
            [showButtonBar]="true" dateFormat="dd/mm/yy"/>
          <label for="data_inicio">Data</label>
        </p-floatlabel>

        <span>Até</span>

        <p-floatlabel variant="on" style="flex: 0.2;">
          <p-datepicker [(ngModel)]="dataFim" inputId="data_fim" showIcon iconDisplay="input" [showButtonBar]="true" dateFormat="dd/mm/yy"/>
          <label for="data_fim">Data</label>
        </p-floatlabel>
      </div>

      <div style="display: flex; justify-content: space-between; margin-bottom: 0.3rem; margin-top: 0.5rem;">
        <p-button [raised]="true" label="Pesquisar" icon="pi pi-search" [loading]="loading" (onClick)="load()" />
        <p-button label="Novo Lançamento" icon="pi pi-plus" (onClick)="abrirDialog()" [raised]="true">
        </p-button>
      </div>

        <div class="card">
          <p-table [value]="lancamentos" [paginator]="true" [rows]="10" [tableStyle]="{ 'min-width': '50rem' }"
            [rowsPerPageOptions]="[5, 10, 20, 40]">
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="pessoa" style="width:20%">Pessoa <p-sortIcon field="pessoa" /></th>
                <th style="width:20%">Descrição</th>
                <th style="width:20%">Vencimento</th>
                <th style="width:20%">Pagamento</th>
                <th pSortableColumn="valor" style="width:20%">Valor <p-sortIcon field="valor" /></th>
                <th style="width:20%">Ações</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-lancamento>
              <tr>
                <td>{{ lancamento.pessoa }}</td>
                <td>{{ lancamento.descricao }}</td>
                <td>{{ lancamento.dataVencimento | date: 'dd/MM/yyyy' }}</td>
                <td>{{ lancamento.dataPagamento ? (lancamento.dataPagamento | date: 'dd/MM/yyyy') : '-' }}</td>
                <td>{{ lancamento.valor | currency:'BRL':'symbol':'1.2-2' }}</td>
                <td style="min-width: 60px; padding: 4px;">
                  <div style="display: flex; gap: 0.3rem; flex-wrap: nowrap;">
                    <a pButton icon="pi pi-address-book" style="height: 1.8rem; width: 1.8rem; padding: 0;"
                       pTooltip="Editar" tooltipPosition="top"></a>
                    <a pButton icon="pi pi-trash" severity="danger" style="height: 1.8rem; width: 1.8rem; padding: 0;"
                       pTooltip="Remover" tooltipPosition="top"></a>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>




    </div>
  </p-card>




  <app-newlancamento [visibleDialog]="exibirDialog" (closed)="aoFecharDialog()"></app-newlancamento>


</div>
