:host ::ng-deep .p-dialog .p-dialog-header {
  background: linear-gradient(to right, #262626, #393b3c);
  color: white;
  padding: 0.2rem;
  justify-content: center;
  position: relative;
  border-radius: 10px;
}

:host ::ng-deep .p-dialog {
  border-top: #262626;
}


:host ::ng-deep .p-dialog .p-dialog-title {
  flex: 1;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-left: 3rem;
}

:host ::ng-deep .p-dialog .p-dialog-header .p-dialog-close-button {
  color: whitesmoke;
}

.dialog-footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

//inputs cadastro cliente
.input-row {
  margin-bottom: 1rem;
}

.two-columns {
  display: flex;
  gap: 1rem;

  .input-col {
    flex: 1;

    // Corrige a largura dos campos com inputgroup + inputmask
    ::ng-deep p-inputgroup {
      display: flex;
      width: 100%;

      // Corrige p-iftalabel dentro do inputgroup
      p-iftalabel {
        flex: 1;
        display: block;

        // Garante que os inputs ocupem toda a largura
        ::ng-deep p-inputmask,
        ::ng-deep input {
          width: 100% !important;
          display: block;
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
        }
      }
    }
  }
}

.cupom-cliente {
  background-color: #fffde7;
  border: 2px dashed #fbc02d;
  padding: 1.5rem;
  margin: 1rem auto;
  width: 100%;
  border-radius: 8px;
  font-family: 'Courier New', Courier, monospace;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  gap: 1rem;

  .cupom-header {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 1px dashed #fbc02d;
    padding-bottom: 0.5rem;
    color: #f57f17;
  }

  .cupom-content {
    font-size: 0.95rem;

    p {
      margin: 0.3rem 0;
    }
  }

  .cupom-footer {
    text-align: center;
    margin-top: 1rem;
    font-style: italic;
    color: #666;
    font-size: 0.9rem;
  }
}


:host ::ng-deep .messageerror .p-message-text {
  font-size: 0.75rem;
  color: #e74c3c;
}
