@use "primeicons/primeicons.css";

body {
  color: #404c51;
  // background-color: #151719;
  margin: 0;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

a.p-button {
  text-decoration: none;
}


* {
  font-family: 'Inter', sans-serif;
  font-size: small;
}


.p-toast {
  z-index: 999999 !important; /* Valor bem alto para garantir que fique acima de tudo */
}




