.cardclientes {
  --p-card-border-radius: 2px;
  --p-card-shadow: 4px 0 6px -2px rgba(132, 120, 120, 0.5), -4px 0 6px -2px rgba(132, 120, 120, 0.5);
}




:host {
  --p-button-label-font-weight: 800;

  --p-button-info-color: black;
  --p-button-info-active-color: black(255, 16, 16);
}

.inputsuptable{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  justify-content: space-between;
  align-items: center;

}

.busca-nome-input {
  max-width: 800px;
  width: 100%;
}

@media (min-width: 768px) {
  .busca-nome-input {
    width: 500px;
  }
}


@media (max-width: 768px) {
  .inputsuptable {
    flex-direction: column;
    align-items: stretch;
  }
}


::ng-deep .p-dialog .p-dialog-header {
  background: linear-gradient(to right, #262626, #393b3c);
  color: white;
  padding: 0.2rem;
  justify-content: center;
  position: relative;
  border-radius: 10px;
}

::ng-deep .p-dialog .p-dialog-title {
  flex: 1;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-left: 3rem;
}

::ng-deep .p-dialog .p-dialog-header .p-dialog-close-button {
  color: whitesmoke;
}

.dialog-footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}


.input-row {
  margin-bottom: 1rem;
}

.two-columns {
  display: flex;
  gap: 1rem;

  .input-col {
    flex: 1;
  }
}


